@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

    <div class="container pt-4">

        <div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mx-3 p-2 mb-3 rounded box-shadow">
                        <h5 class="mx-3">Manage your account</h5>
                        <hr />
                        <partial name="_ManageNav" />
                    </div>
                    
                </div>
                <div class="col-md-8">
                    @RenderBody()
                </div>
            </div>
        </div>

        @section Scripts {
            @RenderSection("Scripts", required: false)
        }

    </div>
