@model string

<div class="modal-footer">
    <button type="submit" form="@Model" class="btn btn-light">
        <i class="fa fa-edit" aria-hidden="true"></i>Save
        <i class="fa fa-refresh fa-spin d-none" data-icon="loading" aria-hidden="true"></i>
    </button>
</div>