<div class="modal-header justify-content-end p-2">
    <div data-dismiss="modal" aria-label="Close">
        <button type="button" class="btn btn-sm btn-light" aria-hidden="true"><i class="fa fa-times"></i></button>
    </div>
</div>