<script id="photograph-index-modal" type="text/template">
    
    <div id="{{modal.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{modal.id}}-label" aria-hidden="true">
        
        <div class="modal-dialog full-modal-dialog" role="document">
            
            <div class="modal-content h-100 w-100 bg-black text-light">

                <div class="modal-header justify-content-end p-2">

                    <div data-dismiss="modal" aria-label="Close">

                        <button type="button" class="btn btn-sm btn-light carousel-close" aria-hidden="true"><i class="fa fa-times"></i></button>

                    </div>

                </div>

                <div class="modal-body rounded-bottom h-100">

                    <div id="{{modal.id}}-carousel" class="carousel slide m-0 h-100 overflow-hidden">

                        <div id="{{modal.id}}-carousel-inner" class="carousel-inner mh-100 h-100">

                        </div>

                    </div>

                </div>

            </div>
            
        </div>
        
    </div>
</script>