<div class="modal fade" id="support-details-modal" tabindex="-1" role="dialog" aria-labelledby="support-details-modal-label" aria-hidden="true">
    <div class="modal-dialog full-modal-dialog" role="document">
        <div class="modal-content h-100 mh-100">

            <div class="modal-header justify-content-end p-2">
                <div data-dismiss="modal" aria-label="Close">
                    <button type="button" class="btn btn-sm btn-light carousel-close" aria-hidden="true"><i class="fa fa-times"></i></button>
                </div>
            </div>

            <div id="support-details-modal-body" class="d-flex flex-column bg-gray-11 flex-grow-1 overflow-auto">
                
            </div>
            
            <div class="modal-footer d-flex p-2">
                <div data-dismiss="modal" aria-label="Close">
                    <button type="button" class="btn btn-sm btn-light carousel-close" aria-hidden="true"><i class="fa fa-times"></i></button>
                </div>
            </div>
            
        </div>
    </div>
</div>
