<div class="d-flex flex-grow-1 justify-content-end">
    <button type="submit" class="btn btn-light" data-toggle="modal" data-target="#support-search-modal" aria-expanded="false" aria-controls="index-support-search-modal">
        <i class="fa fa-search" data-icon="search" style="font-size: 1.25em;" aria-hidden="true"></i>
        <i class="fa fa-refresh fa-spin d-none" data-icon="loading" style="font-size: 1.25em;" aria-hidden="true"></i>
    </button>
</div>